---
import Layout from "../../layouts/Layout.astro";
import { getOneRepo } from "../../services/github";
import { setColorByLang } from "../../tools/colors";

const { id } = Astro.params;

const repo = getOneRepo(Number(id));
const pushDate =
  repo?.pushedAt && new Date(repo?.pushedAt).toLocaleDateString();
const createdDate =
  repo?.createdAt && new Date(repo?.createdAt).toLocaleDateString();

---

<Layout title="Projects">
  <section
    transition:name=`article ${repo?.id}`
    class="bg-black flex flex-col p-6 max-w-6xl mx-auto translate-y-[60%] rounded-xl shadow-md shadow-[rgba(33,33,33,.8)]"
  >
    <div class="grid grid-cols-2 grid-rows-2 place-items-baseline mb-3">
      <h3
        transition:name=`title ${repo?.id}`
        class="font-bold row-span-1 capitalize text-[rgba(255,189,51,.8)] text-3xl"
      >
        {repo?.name}
      </h3>
      <span class="text-slate-400 row-span-2 text-xl"
        >Last push: {pushDate}</span
      >

      <p class="text-white text-xl row-span-2 col-span-2 mt-1 text-ellipsis">
        <span class="text-slate-400">- Little description:</span>{" "}
        {repo?.description}
      </p>
    </div>
    <hr />
    <ul class="text-white my-4 grid grid-cols-2 text-3xl gap-3">
      <li>- Created at: {createdDate}</li>
      <li>- Stars: {repo?.forksCount}</li>
      <li>
        - Language: <span style=`color: ${setColorByLang(repo?.language!)}`
          >{repo?.language === null ? "None" : repo?.language}</span
        >
      </li>
      <li>- Forks: {repo?.forksCount}</li>
    </ul>
    <hr />
    <div
      class="flex items-center justify-around gap-4 mt-5 [&>a]:block [&>a]:text-3xl [&>a]:border [&>a]:p-4 [&>a]:rounded-xl [&>a]:border-slate-300 [&>a:hover]:scale-105 [&>a]:transition text-white"
    >
      <a class="" href="/projects">Go back</a>
      <a
        href={repo?.htmlUrl}
        target="_blank"
        rel="noreferrer noopener"
        title={`Go to repository ${repo?.name}`}>Go to {repo?.name}</a
      >
      {
        repo?.homepage && (
          <a
            href={repo?.homepage}
            target="_blank"
            rel="noreferrer noopener"
            title={`Go to ${repo?.name} deploy`}
            class="cursor-pointer"
          >
          Go to deploy
          </a>
        )
      }
    </div>
  </section>
</Layout>

<style>
  a:hover {
    box-shadow: inset 0 0 .2em #fff;
  }
</style>