---
import { Image } from "astro:assets";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";
import image from "../assets/no-bg.png";
import GoHomeBtn from "../components/go-home-btn.astro";
import TestimonyCard from "../components/testimony-card.astro";
import HiringBtn from "../components/hiring-btn.astro";

import cristian from "../assets/testimony/cristian-fitipaldi.png";
import marta from "../assets/testimony/marta.png";
---

<Layout
  currentPage="Sobre mí"
  description="Hola! Soy Leonel, esta es la página para conocerme un poco como persona y lo que opina la gente que ha trabajado conmigo. ¡Entra y entérate!"
>
  <section
    transition:name="about-section"
    class="min-h-screen w-full relative p-2"
  >
    <GoHomeBtn />

    <Title class="my-6 text-center" t_name="about-title">
      ¡Hola, mi nombre es Leonel!
    </Title>

    <article class="flex flex-col items-start justify-center">
      <div class="flex flex-col items-start md:flex-row justify-center">
        <div class="text-white text-xl max-w-[37ch] font-semibold mr-2">
          <p>
            Soy un hábil desarrollador. <br />Un gran amante de
            crear, innovar y ofrecer soluciones.
          </p>
          <p>
            Mi misión principal es resolver esa necesidad que tiene el otro.
          </p>
          <p>Ofrezco excelencia y calidad, a un mejor precio.</p>
        </div>
        <Image
          src={image}
          height={image.height}
          width={image.width}
          alt="Foto selfie mía sonrriendo."
          transition:name="about-img"
          class="aspect-square object-cover max-w-[300px] w-full rounded-md shadow-md shadow-sky-300"
          title="Leonel Donati, desarrollador web."
        />
      </div>

      <HiringBtn />
    </article>

    <article class="mt-20 w-full">
      <h3 class="text-white font-bold text-2xl text-center mb-4">
        Testimonios de clientes satisfechos
      </h3>

      <ul class="grid md:grid-cols-3 sm:grid-cols-3 place-items-center gap-2">
        <li>
          <TestimonyCard
            ownerName="Cristian"
            ownerWork="Herrero y fundador de R&F Soluciones Metalúrgicas."
            image={cristian}
            testimony="Profesional y excelente atención, muy conforme con el producto obtenido, súper recomendable."
          />
        </li>
        <li>
          <TestimonyCard
            ownerName="Marta"
            ownerWork="Gestora"
            image={marta}
            testimony="Muy conforme con el producto obtenido. Precio súper competitivo y mucho profesionalismo."
          />
        </li>
      </ul>
    </article>
  </section>
</Layout>
