---
import { Image } from "astro:assets";
import Title from "../components/title.astro";
import Layout from "../layouts/layout.astro";
import image from "../assets/ORANGE_BG.png";
import GoHomeBtn from "../components/go-home-btn.astro";
import TestimonyCard from "../components/testimony-card.astro";
import HiringBtn from "../components/hiring-btn.astro";

import cristian from "../assets/testimony/cristian-fitipaldi.png";
import marta from "../assets/testimony/marta.png";
---

<Layout
  currentPage="Sobre mí"
  description="Hola! Soy Leonel, esta es la página para conocerme un poco como persona y lo que opina la gente que ha trabajado conmigo. ¡Entra y entérate!"
>
  <section
    transition:name="about-section"
    class="min-h-screen w-full relative p-2"
  >
    <header class="flex flex-row items-center justify-between">
      <GoHomeBtn class="hidden sm:block" />
    </header>

    <article class="flex flex-col items-start justify-center">
      <div
        class="flex items-start sm:items-center flex-row justify-center mb-3"
      >
        <div class="text-white max-w-[37ch] font-semibold mr-2">
          <Title class="mb-2" t_name="about-title">
            ¡Hola, mi nombre es Leonel!
          </Title>
          <p>
            Soy un hábil desarrollador. <br />Un gran amante de crear, innovar y
            ofrecer soluciones.
          </p>
          <p>
            Mi misión principal es implementar una solucion óptima y eficiente.
          </p>
          <p>Ofrezco excelencia y calidad, a un mejor precio.</p>
        </div>

        <Image
          src={image}
          height={image.height}
          width={image.width}
          alt="Foto selfie mía sonrriendo."
          transition:name="about-img"
          class="aspect-square object-cover object-top max-w-[100px] sm:max-w-[250px] md:max-w-[350px] w-full rounded-full shadow-md shadow-secondary mt-3 md:mt-0"
          title="Leonel Donati, desarrollador web."
        />
      </div>

      <HiringBtn />
    </article>

    <article class="mt-20 w-full">
      <h3 class="text-white font-bold text-2xl text-center mb-4">
        Testimonios de clientes satisfechos
      </h3>

      <ul class="grid md:grid-cols-3 sm:grid-cols-3 place-items-center gap-2">
        <li>
          <TestimonyCard
            ownerName="Cristian"
            ownerWork="Herrero y fundador de R&F Soluciones Metalúrgicas."
            image={cristian}
            testimony="Profesional y excelente atención, muy conforme con el producto obtenido, súper recomendable."
          />
        </li>
        <li>
          <TestimonyCard
            ownerName="Marta"
            ownerWork="Gestora"
            image={marta}
            testimony="Muy conforme con el producto obtenido. Precio súper competitivo y mucho profesionalismo."
          />
        </li>
      </ul>
    </article>

    <GoHomeBtn class="sm:hidden fixed bottom-2 right-2" />
  </section>
</Layout>
