---
import { Image } from "astro:assets";
import logo from "../assets/LOGOTIPO-LEONEL-WEB.svg";
import { IconMenu3 } from "@tabler/icons-react";
import img from "../assets/carrousell/img.png";
import { getRepos } from "../services/github";


const { ok, data } = await getRepos(6)

console.log({ ok, data, length: data?.length })
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/LOGOTIPO-LEONEL-WEB.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Leonel Donati - Desarrollador Web</title>
  </head>
  <body class="bg-[#444] flex flex-col min-h-screen">
    <header
      class="relative w-full max-w-[1200px] mx-auto flex flex-row justify-between items-center p-2 bg-[#3a3a3a]"
    >
      <h1 class="flex items-center gap-2 text-2xl select-none">
        <Image
          src={logo}
          alt="Logotipo Leonel Donati"
          width={logo.width}
          height={logo.height}
          class="w-full max-w-[50px] rounded-md"
        />

        <span class="font-bold text-white">Leonel Donati</span>
      </h1>

      <ul
        class=`
			flex flex-col sm:flex-row gap-2 text-white [&>li>a]:transition [&>li>a]:shadow [&>li>a]:p-2 [&>li>a:hover]:shadow-white/30
			absolute sm:relative right-0 top-[100%] bg-[#333] p-4
			transition opacity-0 translate-y-100 sm:opacity-1 sm:translate-y-0
			`
        id="links-ul"
      >
        <li>
          <a href="#sobre-mí"> Conóceme </a>
        </li>
        <li>
          <a href="#proyectos"> Proyectos </a>
        </li>
        <li>
          <a href="#trabajemos" class="text-yellow-300"> ¡Contáctame! </a>
        </li>
      </ul>

      <button
        class="text-yellow-300 transition active:scale-105 sm:hidden"
        id="menu-btn"
      >
        <IconMenu3 />
      </button>
    </header>
    <main
      class="w-full max-w-[1200px] mx-auto p-1"
      style="min-height: calc(100dvh - 72px);"
    >
      <section
        class="flex md:flex-row md:items-start justify-center h-full flex-col w-full mt-[10%]"
      >
        <div class="flex flex-col text-white font-bold max-w-[48ch]">
          <h1 class="text-3xl">Leonel Donati</h1>
          <h2 class="text-2xl">Desarrollo de soluciones tecnológicas.</h2>

          <p></p>
          <p></p>
          <p></p>
        </div>

        <div
          class="rounded-md max-w-[600px] mx-auto aspect-video overflow-hidden shadow-md shadow-yellow-200"
        >
          <picture
            class="w-full flex flex-row transition"
            id="container-carrousell"
          >
            <Image
              src={img}
              alt="Imagen del carrousell"
              height={img.height}
              width={img.width}
              loading="lazy"
              class="object-cover aspect-video"
            />
            <Image
              src={img}
              alt="Imagen del carrousell"
              height={img.height}
              width={img.width}
              loading="lazy"
              class="object-cover aspect-video"
            />
            <Image
              src={img}
              alt="Imagen del carrousell"
              height={img.height}
              width={img.width}
              loading="lazy"
              class="object-cover aspect-video"
            />
            <Image
              src={img}
              alt="Imagen del carrousell"
              height={img.height}
              width={img.width}
              loading="lazy"
              class="object-cover aspect-video"
            />
          </picture>
        </div>
      </section>

      <section class="min-h-screen w-full mt-3 pt-2 text-white">
        <h2 class="text-center text-3xl font-bold mb-8">Conoce mi trabajo.</h2>


				<div
				class="w-full grid auto-rows-fr md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-1"
				>
					<article class="p-2 bg-black/20 rounded-md w-full max-w-[500px]">
						<div
							class="grid grid-cols-2 grid-rows-2 place-items-center items-start "
							style="grid-template-areas: 'title title' 'desc data'; grid-template-rows: max-content 1fr;"
						>
							<h3 class="text-xl underline mb-2" style="grid-area: title;">
								Titulo del proyecto
							</h3>
	
							<p style="grid-area: desc;">
								Esta es una descripción del proyecto posiblemente sea una
								descripción larga debe tener un ancho máximo.
							</p>
	
							<ul
								style="grid-area: data;"
								class="text-white/80 [&>li]:flex [&>li]:items-center [&>li]:gap-1 md:inline-block hidden"
							>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-code"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M7 8l-4 4l4 4"></path><path
											d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg
									>
									<span>Lenguaje</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-plus"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M20.984 12.535a9 9 0 1 0 -8.468 8.45"
										></path><path d="M16 19h6"></path><path d="M19 16v6"
										></path><path d="M12 7v5l3 3"></path></svg
									>
									<span>Creado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-edit"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M21 12a9 9 0 1 0 -9.972 8.948c.32 .034 .644 .052 .972 .052"
										></path><path d="M12 7v5l2 2"></path><path
											d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"
										></path></svg
									>
									<span>Modificado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-lock"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
										></path></svg
									>
									<span>Privado</span>
								</li>
							</ul>
						</div>
	
						<div id="images-proyect">
							<Image
								src={img}
								alt="Imagen de proyecto 1"
								width={img.width}
								height={img.height}
								loading="lazy"
							/>
	
							<div
								class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
								id="links-buttons"
							>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
										></path></svg
									>GitHub</a
								>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
										></path><path d="M6 8h.01"></path><path d="M9 8h.01"
										></path></svg
									>Deploy</a
								>
							</div>
						</div>
					</article>
					<article class="p-2 bg-black/20 rounded-md w-full max-w-[500px]">
						<div
							class="grid grid-cols-2 grid-rows-2 place-items-center items-start "
							style="grid-template-areas: 'title title' 'desc data'; grid-template-rows: max-content 1fr;"
						>
							<h3 class="text-xl underline mb-2" style="grid-area: title;">
								Titulo del proyecto
							</h3>
	
							<p style="grid-area: desc;">
								Esta es una descripción del proyecto posiblemente sea una
								descripción larga debe tener un ancho máximo.
							</p>
	
							<ul
								style="grid-area: data;"
								class="text-white/80 [&>li]:flex [&>li]:items-center [&>li]:gap-1 md:inline-block hidden"
							>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-code"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M7 8l-4 4l4 4"></path><path
											d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg
									>
									<span>Lenguaje</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-plus"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M20.984 12.535a9 9 0 1 0 -8.468 8.45"
										></path><path d="M16 19h6"></path><path d="M19 16v6"
										></path><path d="M12 7v5l3 3"></path></svg
									>
									<span>Creado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-edit"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M21 12a9 9 0 1 0 -9.972 8.948c.32 .034 .644 .052 .972 .052"
										></path><path d="M12 7v5l2 2"></path><path
											d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"
										></path></svg
									>
									<span>Modificado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-lock"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
										></path></svg
									>
									<span>Privado</span>
								</li>
							</ul>
						</div>
	
						<div id="images-proyect">
							<Image
								src={img}
								alt="Imagen de proyecto 1"
								width={img.width}
								height={img.height}
								loading="lazy"
							/>
	
							<div
								class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
								id="links-buttons"
							>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
										></path></svg
									>GitHub</a
								>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
										></path><path d="M6 8h.01"></path><path d="M9 8h.01"
										></path></svg
									>Deploy</a
								>
							</div>
						</div>
					</article>
					<article class="p-2 bg-black/20 rounded-md w-full max-w-[500px]">
						<div
							class="grid grid-cols-2 grid-rows-2 place-items-center items-start "
							style="grid-template-areas: 'title title' 'desc data'; grid-template-rows: max-content 1fr;"
						>
							<h3 class="text-xl underline mb-2" style="grid-area: title;">
								Titulo del proyecto
							</h3>
	
							<p style="grid-area: desc;">
								Esta es una descripción del proyecto posiblemente sea una
								descripción larga debe tener un ancho máximo.
							</p>
	
							<ul
								style="grid-area: data;"
								class="text-white/80 [&>li]:flex [&>li]:items-center [&>li]:gap-1 md:inline-block hidden"
							>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-code"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M7 8l-4 4l4 4"></path><path
											d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg
									>
									<span>Lenguaje</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-plus"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M20.984 12.535a9 9 0 1 0 -8.468 8.45"
										></path><path d="M16 19h6"></path><path d="M19 16v6"
										></path><path d="M12 7v5l3 3"></path></svg
									>
									<span>Creado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-edit"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M21 12a9 9 0 1 0 -9.972 8.948c.32 .034 .644 .052 .972 .052"
										></path><path d="M12 7v5l2 2"></path><path
											d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"
										></path></svg
									>
									<span>Modificado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-lock"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
										></path></svg
									>
									<span>Privado</span>
								</li>
							</ul>
						</div>
	
						<div id="images-proyect">
							<Image
								src={img}
								alt="Imagen de proyecto 1"
								width={img.width}
								height={img.height}
								loading="lazy"
							/>
	
							<div
								class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
								id="links-buttons"
							>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
										></path></svg
									>GitHub</a
								>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
										></path><path d="M6 8h.01"></path><path d="M9 8h.01"
										></path></svg
									>Deploy</a
								>
							</div>
						</div>
					</article>
					<article class="p-2 bg-black/20 rounded-md w-full max-w-[500px]">
						<div
							class="grid grid-cols-2 grid-rows-2 place-items-center items-start "
							style="grid-template-areas: 'title title' 'desc data'; grid-template-rows: max-content 1fr;"
						>
							<h3 class="text-xl underline mb-2" style="grid-area: title;">
								Titulo del proyecto
							</h3>
	
							<p style="grid-area: desc;">
								Esta es una descripción del proyecto posiblemente sea una
								descripción larga debe tener un ancho máximo.
							</p>
	
							<ul
								style="grid-area: data;"
								class="text-white/80 [&>li]:flex [&>li]:items-center [&>li]:gap-1 md:inline-block hidden"
							>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-code"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M7 8l-4 4l4 4"></path><path
											d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg
									>
									<span>Lenguaje</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-plus"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M20.984 12.535a9 9 0 1 0 -8.468 8.45"
										></path><path d="M16 19h6"></path><path d="M19 16v6"
										></path><path d="M12 7v5l3 3"></path></svg
									>
									<span>Creado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-edit"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M21 12a9 9 0 1 0 -9.972 8.948c.32 .034 .644 .052 .972 .052"
										></path><path d="M12 7v5l2 2"></path><path
											d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"
										></path></svg
									>
									<span>Modificado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-lock"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
										></path></svg
									>
									<span>Privado</span>
								</li>
							</ul>
						</div>
	
						<div id="images-proyect">
							<Image
								src={img}
								alt="Imagen de proyecto 1"
								width={img.width}
								height={img.height}
								loading="lazy"
							/>
	
							<div
								class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
								id="links-buttons"
							>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
										></path></svg
									>GitHub</a
								>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
										></path><path d="M6 8h.01"></path><path d="M9 8h.01"
										></path></svg
									>Deploy</a
								>
							</div>
						</div>
					</article>
					<article class="p-2 bg-black/20 rounded-md w-full max-w-[500px]">
						<div
							class="grid grid-cols-2 grid-rows-2 place-items-center items-start "
							style="grid-template-areas: 'title title' 'desc data'; grid-template-rows: max-content 1fr;"
						>
							<h3 class="text-xl underline mb-2" style="grid-area: title;">
								Titulo del proyecto
							</h3>
	
							<p style="grid-area: desc;">
								Esta es una descripción del proyecto posiblemente sea una
								descripción larga debe tener un ancho máximo.
							</p>
	
							<ul
								style="grid-area: data;"
								class="text-white/80 [&>li]:flex [&>li]:items-center [&>li]:gap-1 md:inline-block hidden"
							>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-code"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M7 8l-4 4l4 4"></path><path
											d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg
									>
									<span>Lenguaje</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-plus"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M20.984 12.535a9 9 0 1 0 -8.468 8.45"
										></path><path d="M16 19h6"></path><path d="M19 16v6"
										></path><path d="M12 7v5l3 3"></path></svg
									>
									<span>Creado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-edit"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M21 12a9 9 0 1 0 -9.972 8.948c.32 .034 .644 .052 .972 .052"
										></path><path d="M12 7v5l2 2"></path><path
											d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"
										></path></svg
									>
									<span>Modificado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-lock"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
										></path></svg
									>
									<span>Privado</span>
								</li>
							</ul>
						</div>
	
						<div id="images-proyect">
							<Image
								src={img}
								alt="Imagen de proyecto 1"
								width={img.width}
								height={img.height}
								loading="lazy"
							/>
	
							<div
								class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
								id="links-buttons"
							>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
										></path></svg
									>GitHub</a
								>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
										></path><path d="M6 8h.01"></path><path d="M9 8h.01"
										></path></svg
									>Deploy</a
								>
							</div>
						</div>
					</article>
					<article class="p-2 bg-black/20 rounded-md w-full max-w-[500px]">
						<div
							class="grid grid-cols-2 grid-rows-2 place-items-center items-start "
							style="grid-template-areas: 'title title' 'desc data'; grid-template-rows: max-content 1fr;"
						>
							<h3 class="text-xl underline mb-2" style="grid-area: title;">
								Titulo del proyecto
							</h3>
	
							<p style="grid-area: desc;">
								Esta es una descripción del proyecto posiblemente sea una
								descripción larga debe tener un ancho máximo.
							</p>
	
							<ul
								style="grid-area: data;"
								class="text-white/80 [&>li]:flex [&>li]:items-center [&>li]:gap-1 md:inline-block hidden"
							>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-code"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M7 8l-4 4l4 4"></path><path
											d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg
									>
									<span>Lenguaje</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-plus"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path d="M20.984 12.535a9 9 0 1 0 -8.468 8.45"
										></path><path d="M16 19h6"></path><path d="M19 16v6"
										></path><path d="M12 7v5l3 3"></path></svg
									>
									<span>Creado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-clock-edit"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M21 12a9 9 0 1 0 -9.972 8.948c.32 .034 .644 .052 .972 .052"
										></path><path d="M12 7v5l2 2"></path><path
											d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"
										></path></svg
									>
									<span>Modificado:</span>
								</li>
								<li>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-lock"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M12 2a5 5 0 0 1 5 5v3a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-6a3 3 0 0 1 3 -3v-3a5 5 0 0 1 5 -5m0 12a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2m0 -10a3 3 0 0 0 -3 3v3h6v-3a3 3 0 0 0 -3 -3"
										></path></svg
									>
									<span>Privado</span>
								</li>
							</ul>
						</div>
	
						<div id="images-proyect">
							<Image
								src={img}
								alt="Imagen de proyecto 1"
								width={img.width}
								height={img.height}
								loading="lazy"
							/>
	
							<div
								class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
								id="links-buttons"
							>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
										></path></svg
									>GitHub</a
								>
								<a
									href=""
									class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
									><svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
										><path stroke="none" d="M0 0h24v24H0z" fill="none"
										></path><path
											d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
										></path><path d="M6 8h.01"></path><path d="M9 8h.01"
										></path></svg
									>Deploy</a
								>
							</div>
						</div>
					</article>
				</div>
      </section>
    </main>
  </body>
</html>

<style>
  #images-proyect {
    position: relative;
		overflow: hidden;
		margin-top: 10px;
		&:hover {
			box-shadow: inset 0 0 20px rgba(99, 99, 99, .3);
		}
		&:hover > #links-buttons {
			opacity: 1;
			transform: translateY(0);
		}
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // CARROUSELL
    const $carrousell = document.querySelector(
      "#container-carrousell"
    ) as HTMLElement;

    const imagesCount = $carrousell.childElementCount * 100;
    let translate = 0;
    setInterval(() => {
      translate = translate + 100;
      $carrousell.style.transform = `translateX(-${translate}%)`;

      if (translate === imagesCount) {
        translate = 0;
        $carrousell.style.transform = `translateX(-${translate}%)`;
      }
    }, 3000);

    // HEADER
    const $menuBtn = document.querySelector("#menu-btn");
    const $linksUl = document.querySelector("#links-ul") as HTMLUListElement;
    let opened = false;

    const screenWidth = window.screen.width;

    if (screenWidth >= 640) {
      $linksUl.style.opacity = "1";
      $linksUl.style.transform = "translateY(0)";
    }

    $menuBtn?.addEventListener("click", () => {
      opened = !opened;

      $linksUl.style.opacity = opened ? "1" : "0";
      $linksUl.style.transform = `translateY(${opened ? 0 : 100}%)`;
    });

    window.addEventListener("resize", () => {
      const screenWidth = window.screen.width;

      if (screenWidth >= 640) {
        $linksUl.style.opacity = "1";
        $linksUl.style.transform = "translateY(0)";
      } else {
        $linksUl.style.opacity = "0";
        $linksUl.style.transform = "translateY(100%)";
      }
    });
  });
</script>
