---
import { Image } from "astro:assets";
import {
  IconClockEdit,
  IconClockPlus,
  IconCode,
  IconLock,
} from "@tabler/icons-react";
import { setColorByLang } from "../scripts/colors";

interface Props {
  title: string;
  description: string;
  lang: string;
  private: boolean;
  created: Date | string;
  modified: Date | string;
  deployUrl: string | null;
  githubUrl: string;
  image?: ImageMetadata;
}

const {
  title,
  description,
  lang,
  created,
  modified,
  private: privatedRepo,
  image,
  githubUrl,
  deployUrl,
} = Astro.props;

const hasNotDeploy = deployUrl === null;

const langColor = setColorByLang(lang);
---

<article
  class="p-2 bg-black/20 rounded-md w-full max-w-[500px] flex flex-col justify-between text-white"
>
  <div class="flex flex-col flex-1 items-start justify-between">
    <div>
      <h3 class="text-xl underline underline-offset-8 mb-4 capitalize">
        {title}
      </h3>
  
      <p>
        {description}
      </p>
    </div>
    

    <ul
      class="text-white/80 flex flex-col items-center [&>li]:flex [&>li]:items-center [&>li]:gap-1 gap-2"
    >
      <li style=`color: ${langColor};`>
        <IconCode />
        <span>{lang}</span>
      </li>
      <li>
        <IconClockPlus />
        <span>{new Date(created).toLocaleDateString("ES")}</span>
      </li>
      <li>
        <IconClockEdit />
        <span>{new Date(modified).toLocaleDateString("ES")}</span>
      </li>
      <li>
        <IconLock />
        <span>{privatedRepo ? "Privado" : "Público"}</span>
      </li>
    </ul>
  </div>

  <div id="images-proyect" >
    {
      image && (
        <Image
          src={image}
          alt="Imagen de proyecto 1"
          width={image?.width}
          height={image?.height}
          loading="lazy"
          class="transition opacity-90"
        />
      )
    }

    <div
      class="absolute bottom-6 w-full flex flex-row justify-center gap-2 md:opacity-0 md:translate-y-10 transition"
      id="links-buttons"
    >
      <a
        href={githubUrl}
        rel="noreferrer noopener"
        target="_blank"
        title="Ir al repositorio."
        class="bg-yellow-300 text-black px-3 py-1 rounded-md flex gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
          ></path></svg
        >GitHub</a
      >
      <a
        href={deployUrl}
        rel="noreferrer noopener"
        target="_blank"
        title="Ir al live."
        class="bg-yellow-300 text-black px-3 py-1 rounded-md gap-1 items-center transition shadow-sm shadow-transparent hover:shadow-yellow-100"
        style=`display: ${hasNotDeploy ? 'none' : 'flex'};`
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-app-window"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
          ></path><path d="M6 8h.01"></path><path d="M9 8h.01"></path></svg
        >Deploy</a
      >
    </div>
  </div>
</article>
<style>
  #images-proyect {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    &:hover {
      box-shadow: inset 0 0 20px rgba(99, 99, 99, 0.3);
    }
    &:hover > img {
      opacity: 0.6;
    }
    &:hover > #links-buttons {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
