---
import type { GitHubProject } from '../interfaces'
interface Props {
  repo: GitHubProject
}

const { repo } = Astro.props

const {
  htmlUrl,
  id,
  name,
  pushedAt,
} = repo
const timestamp = new Date(pushedAt).toLocaleDateString()

---

<article transition:name={`article ${id}`} class="flex flex-col border border-slate-300 p-4 rounded-lg max-w-md md:max-w-none  bg-[rgba(33,33,33,.8)]">
  <div class="flex justify-between gap-1 items-baseline">
    <h3 transition:animate="slide" transition:name={`title ${id}`} class="font-bold capitalize text-[rgba(255,189,51,.8)] text-xl">{name}</h3>
    <span class="text-slate-400">Last push: {timestamp}</span>
  </div>

  <div class="flex flex-row items-stretch gap-4 mt-5 [&>a]:block [&>a:active]:scale-95 [&>a:hover]:scale-105 [&>a]:transition text-white">
    <a class="hover:text-[rgba(255,189,51,.8)]" href={`/projects/${id}`} title={`View more info for ${name}`}>Project Info</a>
    <a href={htmlUrl} target="_blank" rel="noreferrer noopener" title={`Go to repository ${name}`} >Go to repo</a>
  </div>
</article>

<style>
a {
  background-color: #333;
  border: solid #555;
  border-radius: 1em;
  padding: 1em;
  font-weight: bold;
}

</style>