---
interface Props {
  href: string;
  name: string;
  colors?: {
    bg: string;
    border: string;
    text: string;
  };
  styles?: string;
}

const { href, name, colors, styles } = Astro.props;
---

<a
  href={href}
  title=`Visita mi ${name}`
  target="_blank"
  rel="noreferrer noopener"
  style=`background-color: ${colors?.bg}; border: 2px solid ${colors?.border}; color: ${colors?.text}; box-shadow: 0 6px 10px ${colors?.bg}; ${styles}`
  class=`p-6 flex w-full items-center gap-2 rounded-full transition hover:scale-95 active:scale-100`
>
  <slot name="icon" />
</a>
