---
import { IconQuote } from "@tabler/icons-react";
import { Image } from "astro:assets";

interface Props {
  testimony: string;
  image: ImageMetadata;
  ownerName: string;
  ownerWork: string;
}

const { image, ownerName, ownerWork, testimony } = Astro.props;
---

<div class="w-full h-[350px] max-w-[500px] p-2 bg-black/40 rounded-md shadow-md shadow-black/20 text-white flex flex-col items-center gap-2 backdrop-blur">
  <IconQuote className="w-16 h-auto"/>
  <p>
    {testimony}
  </p>

  <Image
    src={image}
    height={image.height}
    width={image.width}
    alt=`Fotografía de ${ownerName}`
    class="aspect-square object-cover rounded-full max-w-[70px] shadow-md shadow-white/30"
  />

  <div class="text-center">
    <h3 class="font-bold">
      {ownerName}
    </h3>
    <span class="text-white/70">
      {ownerWork}
    </span>
  </div>
</div>
