---
import Layout from "../../layouts/Layout.astro";
import Star from "../../icons/Star.astro";
import GitFork from "../../icons/GitFork.astro";
import Browser from "../../icons/Browser.astro";
import { getOneRepo } from "../../services/github";
import { setColorByLang } from "../../tools/colors";
import GitHub from "../../icons/GitHub.astro";

const { id } = Astro.params;

const repo = getOneRepo(Number(id));
const pushDate =
  repo?.pushedAt && new Date(repo?.pushedAt).toLocaleDateString();
const createdDate =
  repo?.createdAt && new Date(repo?.createdAt).toLocaleDateString();

const {
  avatar,
  description,
  forksCount,
  homepage,
  htmlUrl,
  language,
  name,
  stargazersCount,
} = repo!;
---

<Layout title={name}>
  <section class="w-full h-screen grid place-items-center">
    <article
      transition:name=`article ${repo?.id}`
      style=`border: 3px solid ${setColorByLang(language)}; box-shadow: 0 0 .5em ${setColorByLang(language)};`
      class="rounded-md p-4"
    >
      <!-- avatar, repo name and created date -->
      <div
        class="bg-black/70 flex flex-row items-center gap-3 p-4 rounded-lg"
        style=`border: 1px solid ${setColorByLang(language)}`
      >
        <!-- avatar -->
        <picture>
          <img
            src={avatar}
            alt="GitHub avatar"
            loading="lazy"
            class="object-cover aspect-square rounded-full w-20"
            style=`border: 1px solid ${setColorByLang(language)}`
          />
        </picture>

        <!-- name and created date -->
        <div>
          <h3
            class="capitalize text-2xl font-bold italic"
            style=`color: ${setColorByLang(language)}`
            transition:name={`title ${id}`}
          >
            {name}
          </h3>

          <div class="text-slate-400 flex flex-col">
            <span>
              Created: {createdDate}
            </span>
            <span>
              Updated: {pushDate}
            </span>
          </div>
        </div>
      </div>

      <!-- repo description -->
      <div
        class="text-left text-xl text-white bg-black/70 p-4 rounded-lg max-w-sm"
        style=`border: 1px solid ${setColorByLang(language)}`
      >
        <p class="text-ellipsis">
          {description ? description : "No description here!"}
        </p>
      </div>

      <!-- additional info and links -->
      <div>
        <ul>
          <li><Star /> Stars: {stargazersCount}</li>
          <li><GitFork /> Forks: {forksCount}</li>
          <li>
            <a
              href={htmlUrl}
              title={"Go to" + name}
              rel="noreferrer noopener"
              target="_blank"
              class=""
            >
              <GitHub /> GitHub
            </a>
          </li>

          <li>
            <a
              href={homepage}
              title={"Deploy from: " + name}
              rel="noreferrer noopener"
              target="_blank"
              class=""
            >
            <Browser /> Deploy
            </a>
          </li>
        </ul>
      </div>
    </article>
  </section>
</Layout>

<style>

  ul {
    display: grid;
    grid-template-areas: 
    'info'
    'links'
    ;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 200px));
  }
</style>
