---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import foto2 from "../assets/carrousel/foto-2.png";
import foto4 from "../assets/carrousel/foto-4.png";
import foto5 from "../assets/carrousel/foto-5.png";
import Node from "../icons/Node.astro";
import JS from "../icons/JavaScript.astro";
import React from "../icons/React.astro";
import Vite from "../icons/Vite.astro";
import HTML from "../icons/HTML.astro";
import Git from "../icons/Git.astro";
import Tailwind from "../icons/Tailwind.astro";
import Mongo from "../icons/MongoDB.astro";
---

<Layout title="About me 😊">
  <section class="w-full text-center">

    <div class="flex flex-row p-4 gap-4 w-[95%] mx-auto mt-20">
      <article
        style="width: 30em;"
        class="overflow-x-hidden overflow-hidden rounded-lg flex flex-row"
        transition:animate="slide"
      >
        <Image
      
          id="photoCarrousel"
          src={foto2}
          alt="foto leonel 1"
          style={{ width: "30em", borderRadius: "3em", filter: "grayscale(1)", objectFit: 'cover' }}
        />
        <Image
          id="photoCarrousel"
          src={foto4}
          alt="foto leonel 2"
          style={{ width: "30em", borderRadius: "3em", filter: "grayscale(1)",  objectFit: 'cover' }}
        />
        <Image
          id="photoCarrousel"
          src={foto5}
          alt="foto leonel 3"
          style={{ width: "30em", borderRadius: "3em", filter: "grayscale(1)",  objectFit: 'cover' }}
        />
      </article>

      <div class="w-full" transition:animate="slide">
        <p class="text-left text-2xl text-white text-ellipsis mb-4">
          I Leonel, a <strong>JavaScript FullStack Web Developer</strong> from Argentina. <br />
          I can <b>boost</b> your business with a great presence on the web, <br> thanks to
          the fact that develop <b> fast,
           efficient and SEO friendly applications</b>. <br />
          And yes, love <span class="text-[#c9982d] bg-yellow-100 rounded p-1 py-0">JavaScript</span> and good <span class="text-[#dc143c] bg-red-200 rounded p-1 py-0">HTML</span> never dies.
        </p>
        <div class="w-full border border-slate-400 mb-5"></div>
        <div class="w-[60%] mx-auto text-start border border-slate-300 rounded-xl p-2">
          <span class="text-xl text-slate-100 underline underline-offset-4">What tools do i use?</span>
          <ul class="[&>li]:flex [&>li>svg]:mr-2 [&>li>svg]:w-[3.6em] mt-5  text-white text-xl font-bold [&>li]:items-center [&>li>svg]:h-auto grid grid-cols-2 grid-flow-row place-items-stretch">
            <li><JS /> JavaScript</li>
            <li><Node /> Node JS</li>
            <li><React /> React JS</li>
            <li><HTML /> HTML</li>
            <li><Git /> Git</li>
            <li><Tailwind /> Tailwind</li>
            <li><Vite /> Vite</li>
            <li><Mongo /> Mongo DB</li>
          </ul>
        </div>
      </div>
    </div>

    
  </section>
</Layout>

<script>
  // Carrusel de fotos en la sección "about"
  const $images = document.querySelectorAll("img#photoCarrousel");

  $images.forEach((img) => {
    const image = img as HTMLElement;
    image.style.transition = "all .2s ease";
    let position: number = 0;



    setInterval(() => {
      if (position === 200) {
        image.style.opacity = "0";
        position = 0;
        image.style.opacity = "1";
        image.style.translate = `-${position}%`;
        return;
      }
      position += 100;
      image.style.translate = `-${position}%`;
    }, 4000);
  });
</script>
