---
import { ClientRouter } from "astro:transitions";
interface Props {
  currentPage?: string;
  description: string;
}

const { currentPage, description } = Astro.props;
const defaultTitle = "Leonel Donati - Desarrollador Web";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/LOGO_BRAND.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={Astro.url.href} />

    <!-- OG -->
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />
    <meta property="og:url" content={Astro.url.href} />

    <!-- TWITTER - X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={defaultTitle} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />
    <meta
      name="twitter:image:alt"
      content="Imagen del sitio web en un shot inclinado."
    />
    <meta name="twitter:site" content="@_leodonati" />

    <title>
      {currentPage ? currentPage : defaultTitle}
    </title>

    <ClientRouter fallback="none" />
  </head>
  <body>
    <main class="max-w-[950px] mx-auto relative">
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    background: radial-gradient(circle, #ff7700be, #ffa600d7);
  }
</style>
